.element__like {
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  transition: .3s;
  background-color: #fff;
  cursor: pointer;
  padding: 0
}

.element__like:hover {
  opacity: .5;
}

