.form__button {
  width: 100%;
  margin-top: 18px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  padding: 14px 0;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: .3s;
}

.form__button:hover {
  opacity: .8;
}


@media screen and (max-width: 680px) {
  .form__button{
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}
