.page {
  background-color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  max-width: 880px;
  width: 100%;
  padding: 45px 0 41px;
  border-bottom: 1px solid #545454
}

.header__image {
  max-width: 142px;
}


.profile {
  width: calc(100% - 19px*2);
  max-width: 880px;
  padding: 40px 0 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__container {
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
}

.profile__info {
  margin-left: 30px
}

.profile__author {
  display: flex;
  align-items: baseline;
  gap: 18px;
}

.profile__name {
  color: #fff;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

.profile__edit-button {
  width: 24px;
  cursor: pointer;
  transition: .3s;
}

.profile__edit-button:hover {
  opacity: .6;
}


.profile__description {
  color: #fff;
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 22px;
}

.profile__add-button {
  background-color: #000;
  background-image: url(./images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s;
  padding: 0;
}

.profile__add-button:hover {
  opacity: .6
}

.elements {
  width: calc(100% - 19px*2);
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
}

.element {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
}

.element__image {
  max-width: 100%;
}

.element__description {
  width: 100%;
  padding: 25px 20px 31px 21px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.element__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  max-width: 190px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  background-image: url(./images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  transition: .3s;
  background-color: #fff;
  cursor: pointer;
  padding: 0
}

.element__like:hover {
  opacity: .5;
}

.element__like:active {
  background-image: url(./images/like-active.svg);
}

.footer {
  width: calc(100% - 19px*2);
  max-width: 880px;
  padding: 67px 0 60px;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.popup_opened {
  display: flex;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  /* display: flex; */
  /* display: none; */
  justify-content: center;
  align-items: center;
}

.popup__container {
  position: relative;
}

.popup__close-icon {
  width: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: .3s;
}

.popup__close-icon:hover {
  opacity: .8;
}
.form {
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.form__title {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px;
  font-weight: 900;
}

.form__container {
  border: none;
  margin: 0;
  padding: 0;
}

.form__input {
  width: 100%;
  border: none;
  margin-bottom: 30px;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
}

.form__input:focus {
  outline: none;
}

.form__button {
  width: 100%;
  margin-top: 18px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  padding: 14px 0;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: .3s;
}

.form__button:hover {
  opacity: .8;
}



@media screen and (max-width: 920px){
  .header__logo {
    margin-left: 27px;
  }

  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    padding: 28px 0 31px;
  }

  .header__logo {
    max-width: 104px;
  }

  .profile {
    flex-direction: column;
    padding: 0 0 36px
  }

  .profile__container {
    flex-direction: column ;
  }

  .profile__avatar {
    margin: 42px 0 26px
  }

  .profile__info {
    margin: 0;
  }
  .profile__author {
    gap: 10px;
  }
  .profile__name {
    font-size: 27px;
    line-height: 32px;
  }

  .profile__edit-button {
    width: 18px;
  }

  .profile__description {
    margin: 14px 0 36px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
  }

  .footer {
    padding: 48px 0 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }

  .form {
    width: 282px;
    padding: 25px 22px;
  }

  .form__title {
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 75px;
  }

  .form__input{
    font-size: 14px;
    line-height: 17px;
  }

  .form__button{
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .popup__close-icon {
    width: 20px;
    top:-36px;
    right: 0;
  }
}
