.form__input {
  width: 100%;
  border: none;
  margin-bottom: 30px;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
}

.form__input:focus {
  outline: none;
}

@media screen and (max-width: 680px) {
  .form__input{
    font-size: 14px;
    line-height: 17px;
  }
}
