.popup__close-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: .3s;
  padding: 0;
  background-image: url(../../../images/close-icon.svg);
  background-color: inherit;
  border: none
}

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 680px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top:-36px;
    right: 0;
    background-size: cover;
  }
}
